@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@700&family=Roboto+Slab:wght@500&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.roboto-slab {
  font-family: 'Roboto Slab', serif;
}

.lobster {
  font-family: 'Lobster', cursive;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.content-div:hover {
  background-image:
  linear-gradient(to right,
    rgba(126, 213, 111, 0.801), hsla(160, 64%, 43%, 0.801) );
}

.image-cover {
  height:260px;
}
/*
-remove the classes below if you have the 'group-hover'property added in your tailwind config file
-also remove the class from the html template
*/
.content-div:hover .fd-cl {
  opacity: 0.25;
}
.content-div:hover .fd-sh {
  opacity: 1;
}

.footer {
  background-color: #454B66;
  color: #500;
  font-family: 'Roboto Slab', serif;
}

.brand-icon {
  color: #CCC5B9;
  height: 20px;
}

.brand-icon:hover {
  color: #EB5E28;
}

.orange-bcg {
  background-color: #EB5E28;
}

.orange-clr {
  color: #EB5E28;
}

.bordo-bcg {
  background-color: #500;
}

.bordo-clr {
  color: #500;
}

.grey-bcg {
  background-color: #454B66;
}

.white-bcg {
  background-color: #CCC5B9;
}

.white-clr {
  color: #CCC5B9;
}

.green-bcg {
  background-color: #646536;
}

.soft-green-bcg {
  background-color: #657153;
}

.navbar-link:hover {
  color: #EB5E28;
}

.brand-icon-header:hover {
  color: #EB5E28;
}

.project-image {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.project-btn {
  border: 2px solid #454B66;
  background-color: #EB5E28;
  color: #CCC5B9;
}

.project-btn:hover {
  background-color: #454B66;
  color: #EB5E28;
}

